@import "reset.scss";


/* color */
$blue_1: #191F43;
$blue_2: #1A1F3C;
$blue_3: #12173A;
$blue_4: #818CD3;
$blue_5: #A9AFD3;

$violent_1: #261742;
$violent_2: #25193C;
$violent_3: #1F103A;
$violent_4: #9C7ED3;
$violent_5: #B7A8D3;

$sea_blue_1: #13303D;
$sea_blue_2: #152D38;
$sea_blue_3: #0D2935;
$sea_blue_4: #78B6D1;
$sea_blue_5: #A4C4D1;

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.App-header {
  height: 60px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a, h1 {
    text-decoration: none;
    margin: 0 10px;
    font-size: 22px;
    font-weight: bolder;
  }
  .headrer-left, .headrer-right {
    display: flex;
    align-items: center;
  }
}
.page {
  padding: 5px;
}
.dprice {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .dprice__coins {
    .dprice__long, .dprice__short {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
/* light color's theme */
.light {
  background-color: white;
  .App-header{
    background-color: $blue_4;
    a, h1 {
      color: $blue_3;
    }
  }
}

/* dark color's theme */
.dark {
  background-color: $blue_2;
  .App-header{
    background-color: $blue_3;
    a, h1 {
      color: $blue_4;
    }
  }
}
