@import "reset.scss";


/* color ffon*/
$blue_1: #191F43;
$blue_2: #1A1F3C;
$blue_3: #12173A;
$blue_4: #818CD3;
$blue_5: #A9AFD3;

$violent_1: #261742;
$violent_2: #25193C;
$violent_3: #1F103A;
$violent_4: #9C7ED3;
$violent_5: #B7A8D3;

$sea_blue_1: #13303D;
$sea_blue_2: #152D38;
$sea_blue_3: #0D2935;
$sea_blue_4: #78B6D1;
$sea_blue_5: #A4C4D1;

/*color signal*/
$green_signal1: #2DD700;
$green_signal2: #41A128;
$green_signal3: #1D8B00;
$green_signal4: #5FEB3B;
$green_signal5: #85EB6A;

$red_signal1: #FD0006;
$red_signal2: #D32327;
$red_signal3: #C20005;
$red_signal4: #FD2A2F;
$red_signal5: #FD4B50;

.App {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.App-header {
  height: 60px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a, h1 {
    text-decoration: none;
    margin: 0 10px;
    font-size: 22px;
    font-weight: bolder;
  }
  a {cursor: pointer;}
  .headrer-left, .headrer-right {
    display: flex;
    align-items: center;
  }
}
.page {
  padding: 5px;
}
.dprice {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .price__buttom {
    h1 {
      text-align: center;
      padding: 5px;
      font-size: 26px;
    }
    height: 80px;
    width: 200px;
    border-radius: 10px;
  }
  .dprice__coins {
    width: calc(100% - 205px);
    border-radius: 10px;
    .dprice__long, .dprice__short {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      position: relative;
    }
    .dprice__long-element, .dprice__short-element {
      text-align: center;
      width: calc(10% - 2px);
      height: 36px;
      text-transform: uppercase;
      padding: 2px;
      span {font-weight: bolder;}
    }
  }
}
/* traiging sessions */
.TraidSess {
  display: grid;
  grid-template-columns: 200px 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 30px;
}
.TraideSessionsCanvas {
  height: 500px;
  width: 500px;
  margin: 10px;
  border: solid 2px blue;
}
/* style modal */

/* light color's theme */
.light {
  background-color: white;
  header{
    background-color: $blue_4;
    a, h1 {
      color: $blue_3;
    }
    .active {color: $violent_3;}
  }
  .dprice {
    background-color: $violent_5;
    .price__buttom {
      background-color: $violent_4;
      color: $violent_1;
    }
    .dprice__long {
      background: linear-gradient(to right, $green_signal4, $green_signal5);
    }
    .dprice__short {
      background: linear-gradient(to right, $red_signal4, $red_signal5);
    }
    .dprice__long-element, .dprice__short-element {
      border: solid 1px white;
    }
  }
}

/* dark color's theme */
.dark {
  background-color: $blue_2;
  header{
    background-color: $blue_3;
    a, h1 {
      color: $blue_5;
    }
    .active {
      color: $blue_4;
    }

  }
  .dprice {
    background-color: $violent_1;
    .price__buttom {
      background-color: $violent_3;
      color: $violent_4;
    }
    .dprice__long {
      background: linear-gradient(to right, $green_signal3, $green_signal1);
    }
    .dprice__short {
      background: linear-gradient(to right, $red_signal3, $red_signal1);
    }
    .dprice__long-element, .dprice__short-element {
      border: solid 1px $blue_2;
    }
  }
}
.TS__green {
  background-color: $green_signal3;
}
.TS__yellow {
  background-color: yellow;
}
.TS__blue {
  background-color: blue;
}
.TS__red {
  background-color: red;
}
